backend/service-account.json
backend/.env
backend/.venv/
backend/*.log
**/__pycache__/
*.pyc

app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.firebase/

.DS_Store
